
body{
    margin:0;
    height: 100vh;
    font-family: arial,sans-serif;
    background: linear-gradient(to right,lightblue,lightpink);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h2{
    color: white;
    font-size: 20px;
}
.typing-text::after{
    content: "-Everything happens for a reason";
    animation: typing 5s infinite;
    color: grey;
    font-size: 15px;
}
@keyframes typing{
    50%{content:"-There is no progress";}
}